*{
    margin: 0;
    padding: 0;
     box-sizing: content-box ;
     font-family: "Poppins", sans-serif;
     background-image: url(https://cdn-blog.novoresume.com/articles/google-docs-resume-templates/bg.png);
     background-size: cover;
         }

        